@import url("https://fonts.googleapis.com/css?family=Dokdo|Roboto");
@font-face {
  font-family: sportingGrotesque;
  src: url(../../fonts/SportingGrotesque-Regular.otf);
}

@font-face {
  font-family: sportingGrotesque;
  src: url(../../fonts/SportingGrotesque-Bold.otf);
  font-weight: bold;
}
* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container {
  /* width: 300px; */
  background-color: #e56262;
  padding: 40px;
  margin: 100px 300px 0px 300px;
  border-style: solid;
  border-width: 2px;
}

header {
  font-family: sportingGrotesque;
  font-weight: bold;
  font-size: 40px;
}

form {
  font-family: sportingGrotesque;
  font-weight: bold;
  font-size: 20px;
}

input[type="text"] {
  border: 2px solid black;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.questions {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#custom-select {
}

button {
  margin-top: 30px;
  background-color: white; /* Green */
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 4px 4px 0 0 black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
